
.container__video__oficial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
  
.container__video {
    width: 100%;
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  table tr th {
  font-size: 48px;
  }
  
  table tr td {
    font-size: 36px;
  }
  
  table td {
    text-align: center;
  }
  
  .checked {
    color: orange;
  }
  
  h1 {
    font-size: 48px;
    text-align: center;
  }
  
  
  p {
    font-size: 24px;
    text-align: center;
  
  }
  
  h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }
  
  