
.container__video__oficial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
  
.container__video {
    width: 100%;
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  table tr th {
  font-size: 48px;
  }
  
  table tr td {
    font-size: 36px;
  }
  
  .checked {
    color: orange;
  }
  