* { 
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.dircima {
    float: right;
    width: 200px;
    height: 200px;
    background-color: yellow;


}
.esqcima {
    float: left;
    width: 200px;
    height: 200px;
    background-color: red;
}
.esqBaixo {
    position: absolute;
    float: left;
    width: 200px;
    height: 200px;
    background-color: green;
    bottom: 0;
    left: 0;
}

.dirBaixo{
    position: absolute;
    float: left;
    width: 200px;
    height: 200px;
    background-color: blue;
    bottom: 0;
    right: 0;
}

